[user]
	email = vanhieu2241998@gmail.com
	name = Hieule
[core]
	ignorecase = false
	excludesfile = /Users/heelkindy/.gitignore_global
	compression = 0
[http]
	postBuffer = 104857600
	maxRequestBuffer = 104857600
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[credential]
	helper = cache
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/heelkindy/.stCommitMsg
